.users {
	padding: 30px;
	border-radius: 0px 0px 20px 20px;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}

.users > button {
	padding: 15px 20px;
	border-radius: 15px;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	background-color: #01baf3;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.199);
	color: #fff;
}

.users > button:active {
	opacity: 80%;
}

.containerTable {
	width: 100%;
	margin: 50px auto;
	padding: 20px 0px 20px 0px;
	border-radius: 5px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.199);
}