<table class="table">
	<thead>
		<tr>
			<th class="borderRight">ID</th>
			<th class="borderRight">Nickname</th>
			<th class="borderRight">Email</th>
			<th class="borderRight">Photo</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<td class="borderRight">{{user.id}}</td>
			<td class="borderRight">{{user.nickname}}</td>
			<td class="borderRight">{{user.email}}</td>
			<td class="borderRight"><img src="{{user.imageUrl}}"></td>
			<td>
				<div class="actions">
					<a routerLink="/edit/{{user.id}}" class="edit">
						<i class="fa-solid fa-user-pen"></i>
					</a>
					<a routerLink="/delete/{{user.id}}" class="del">
						<i class="fa-solid fa-user-minus"></i>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

